<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular 2 Messenger</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <!-- font-family: 'Anton', sans-serif; -->

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

<!-- MAIN ANGULAR2 APP -->
<my-app>Loading ...</my-app>

<!-- Main Compiled App -->
<script src="/js/app/bundle.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/js/jquery.js"></script>

<!-- SCROLLING NAV -->
<script type="text/javascript" src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/js/scrolling-nav.js"></script>
<script type="text/javascript" src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/js/bootstrap.min.js"></script>

</body>
</html>