@import './../app.component';

.intro-section {
    height: 500px;
    padding-top: 150px;
    background: $tk-alt-1-bg;

    h1 {
        font-family: $tk-primary-font;
    }

    & .tk-header {
        font-family: $tk-primary-font;
        font-size: 100px;
    }
}
