<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Trevor Knott's <strong>MEAN</strong> Scrolling Nav Temp.</h1>
                <p><strong>Usage Instructions:</strong> <strong>1)</strong> npm install <strong>2)</strong> npm run build <strong>3)</strong> Open another term <strong>4)</strong> npm run start</p>
                <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
            </div>
        </div>
    </div>
</section>