@import './../app.component';

.contact-section {
    height: 150px;
    text-align: center;
    background: #000;

    div {
        & h3 {
            font-family: $tk-primary-font;
            font-size: $tk-h3-font-size;
            color: $tk-theme-color;
          }

        & .tk-h3-alt {
            font-family: $tk-primary-font;
            font-size: $tk-h3-font-size;
            color: white;
            margin-top: 30px;

        }

        input {
            margin-top: 5px;
        }

        button {
            margin-top: 68px;
            align-self: left;
        }
    }
}
