<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <strong><h3 class="tk-h3-alt">Contact me through Text & Email in one click!</h3></strong>
            </div>
            <div class="col-sm-3">
                <h3>FULL NAME</h3>
                <input type="text" class="input-lg">
            </div>
            <div class="col-sm-3">
                <h3>CONTACT TK</h3>
                <input type="text" class="input-lg">
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-lg btn-default">Send Message</button>
            </div>
        </div>
    </div>
</section>