// GLOBAL VARIABLES

// HEADER

// NAVBAR

$navbar-color: white;
$navbar-hover-color: yellow;

// Navbar Links
$tk-nav-link-font-size: 20px;

// BODY

// Color
$tk-primary-color: $navbar-color;
$tk-primary-hover-color: $navbar-hover-color;

// Font
$tk-primary-font: 'Anton', sans-serif;