/* GLOBAL VARIABLES */

/* Vars used throughout must be loaded at the top */
// $tk-cream: #fffdd0;
$tk-cream: yellow;
$tk-primary-font: 'Anton', sans-serif;

// NAVBAR

$navbar-color: $tk-cream;
$navbar-hover-color: white;

$tk-nav-link-font-size: 20px;

// Color
$tk-primary-color: $navbar-color;
$tk-primary-hover-color: $navbar-hover-color;
$tk-theme-color: $tk-cream;

$tk-alt-1-bg: white;

// Font
$tk-h3-font-size: 30px;


